#invitation-details, #rsvp-form {
    margin-top: 2em;
    padding: 1em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: .2em solid grey;
}


body {
    background: url('../images/invite-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#invitation-body {
    background-color: #fff;
    padding-bottom: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#footer {
    padding-bottom: 30px;
}

.btn {
  margin-left: 15px;
}

.attending-radio .form-check label {
  font-weight: 400;
  min-height: 20px;
  cursor: pointer;
  margin-bottom: 0px;
  padding-left: 20px
}

.attending-radio .form-check label input[type="radio"] {
  position: absolute;
  margin-left: -20px;
}

#rsvp-header {
  margin-top: 10px;
  margin-bottom: 0px;
}

.guest-seperator {
  border: 1px inset;
}

.is-invalid.row {
  outline: 2px solid red;
}

.invalid-feedback {
  color: red;
}
