{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block page_head %}
<link href="{% static 'bigday/css/invitation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}
<div class="container" id="invitation-body">
  <section class="img-container">
  </section>
  <section class="col-md-6 text-center">
    <div id="invitation-details">
      <h2>The Wedding of {{ bride_and_groom }}</h2>
      <p class="lead">
      10 April 2021 at 16:00<br>
      De Uijlenes<br>
      Gaansbaai
      </p>
    </div>
  </section>
  <section class="col-md-6">
    {% bootstrap_formset_errors formset %}
    <form data-toggle="validator" id="invitation-details" class="form-horizontal" method="post">
      <h2 id="rsvp-header" class="text-center">RSVP</h2>
      <div class="rsvp-form">
        <hr class="guest-seperator">
        {{ formset.management_form }}
        {% csrf_token %}
        {% for form in formset %}
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="guest_name">Guest:</label>
          <p class="col-md-9 form-control-static" id="guest_name">{{ form.guest.name }}</p>
        </div>
        {% bootstrap_form form layout='horizontal'%}
        <hr class="guest-seperator">
        {% endfor %}
        {% buttons submit='Submit' %}{% endbuttons %}
      </div>
    </form>
  </section>
</div>
{% endblock %}
{% block page_js %}
<script src="{% static 'validator.js' %}"></script>
<script>
  $(function () {
    var updateSelection = function(elements, disable) {
        for (var i = 0; i < elements.length; i++) { 
          elements[i].disabled = disable;
          if (disable) {
            elements[i].checked = false;
          }
        }
    }

    var updateDietaryRequirements = function(e) {
      var target = $(e.target);
      var value = target.val();
      var dietaryInput = target.next('input');

      if (value === 'other') {
        updateSelection(dietaryInput, false);
      } else {
        updateSelection(dietaryInput, true);
      }
      // reload validation
      $(document.forms[0]).validator('destroy');
      $(document.forms[0]).validator();
    }

    var updateForm = function(e) {
      var target = $(e.target);
      var value = target.attr('value');

      var mealButtonContainer = target.closest('.form-group').next('.form-group');
      var accomodationContainer = mealButtonContainer.next('.form-group');
      var braaiContainer = accomodationContainer.next('.form-group');
      var dietaryOptions = mealButtonContainer.find('select');
      var dietaryInput = mealButtonContainer.find('input');
      var accomodationOptions = accomodationContainer.find('input');
      var braaiOptions = braaiContainer.find('input');
      if (value === 'True') {
        updateSelection(dietaryOptions, false);
        updateSelection(accomodationOptions, false);
        updateSelection(braaiOptions, false);
        updateDietaryRequirements({'target': dietaryOptions});
      } else if (value === 'False') {
        updateSelection(dietaryOptions, true);
        updateSelection(dietaryInput, true);
        updateSelection(accomodationOptions, true);
        updateSelection(braaiOptions, true);
      }
    }

    $('input.attending-radio').change(updateForm);
    $('.optional-choice-select').change(updateDietaryRequirements);

    $(document).ready(function() {
      var elements = $('.hidden-field').closest('.form-group');
      for (var i = 0; i < elements.length; i++) {
          elements[i].hidden = true;
      }
      elements = $('input.attending-radio')
      for (var i = 0; i < elements.length; i++) {
        if (elements[i].checked) {
          updateForm({'target': elements[i]});
        }
      }
      var elements = $('.optional-choice-select')
      for (var i = 0; i < elements.length; i++) {
        updateDietaryRequirements({'target': elements[i]});
      }
    });
  });
</script>
{% endblock %}
