{% extends 'guests/email_templates/email_base.html' %}
{% load static %}
{% block lead_copy %}
{% if email_mode %}
<tr>
  <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 20px; font-family: Helvetica, Arial, sans-serif; color: {{ font_color }};"
      class="padding-copy"
      align="left">
    Dear {{ party_names }},<br>
  </td>
</tr>
{% endif %}
{% endblock %}
{% block main_copy %}
<h1>Ceremony</h1>
<p>
Due to changes in the venue's COVID policy, please note that the ceremony is starting
earlier, at <b>14:30</b> on Saturday, 10 April. Please be there by 14:00.
</p>

<h1>Sanitizer and COVID Policy</h1>
<p>
Please bring hand sanitizer for yourself/your rooms. The venue will provide sanitizer
stations around the public spaces, but anywhere else is your responsibility. You are
required to wear masks at all times while in public areas. While you are eating masks
may be removed, but please maintain good social distancing and be aware of others.
</p>

<h1>Weather</h1>
<p>
The ceremony is taking place outside and it is expected to be chilly. Please bring a
jersey for if you get cold. There will be some blankets available, but there are not
enough for everyone. You have your own fitted jerseys at home that will keep you warmer :)
</p>

<h1>Catering on Saturday</h1>
<p>
Supper will be served at 18:30 for everyone (children included) on Saturday.
There will be some snacks available after the ceremony to keep you going until
then.
</p>

<p>
We look forward to seeing you!
</p>
<p>
Love
</p>
<p>
{{ couple }}
</p>

{% endblock %}
{% block footer_content %}
{% if email_mode %}
<p>Email not displaying correctly? Click
<a href="{% if email_mode %}{{ site_url }}{% endif %}{% url 'update-email-1' %}">here</a> to view it
online</p>
<p><a href="{{ site_url }}">{{ site_url }}</a></p>
{% endif %}
{% endblock %}
