{% extends 'guests/email_templates/email_base.html' %}
{% load static %}
{% block lead_copy %}
{% if email_mode %}
<tr>
  <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 20px; font-family: Helvetica, Arial, sans-serif; color: {{ font_color }};"
      class="padding-copy"
      align="left">
    Dear {{ party_names }},<br>
  </td>
</tr>
{% endif %}
{% endblock %}
{% block main_image %}
{% with "invitation/images/"|add:main_image as main_static_url %}
<img src="{% if email_mode %}cid:{{ main_image }}{% else %}{% static main_static_url %}{% endif %}"
     alt="{{ couple }}"
     style="display: block; padding: 0; color: #666666;"
     class="img-max" border="0"
                     height="512" width="512">
{% endwith %}
{% endblock %}
{% block main_copy %}
<table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
  <tbody>
    <tr>
      <td style="font-size: 35px; font-family: Palatino, serif; color: {{ font_color }}; padding-top: 30px; font-weight:bolder;"
          class="padding-copy"
          align="center">
        10 April 2021
      </td>
    </tr>
    <tr>
      <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 20px; font-family: Helvetica, Arial, sans-serif; color: {{ font_color }};"
          class="padding-copy" align="center">
        {{ couple }}<br>
        De Uijlenes, Gansbaai, South Africa<br>
        Directions and more details are available on the <a href="{{ site_url }}">website</a>.</br>
      </td>
    </tr>
    <tr>
      <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 20px; font-family: Helvetica, Arial, sans-serif; color: {{ font_color }};"
          class="padding-copy" align="center">
        <a href="{% if email_mode %}{{ site_url }}{% endif %}{% url 'invitation' invitation_id %}" target="_blank"
                                                                                                   style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background-color: #337ab7; border-top: 12px solid #337ab7; border-bottom: 12px solid #337ab7; border-right: 18px solid #337ab7; border-left: 18px solid #337ab7; display: inline-block;">
          RSVP by 13 March 2021
        </a>
      </td>
    </tr>
  </tbody>
</table>
<h1>Ceremony</h1>
<p>
The ceremony is kicking off at 16:00 on Saturday, 10 April 2021. The dress code is
semi-formal. Please be aware that it is outside and there is grass, so your stilettos may
sink deep.
</p>
<p>
There will be some wine, a glass of champagne and water available at the
reception, but if you would like anything else during the night, a cash bar will be
available.
</p>
<p>More information is available on the
<a href="{{ site_url }}#saturday-event">website</a>.</p>

<h1>Friday Braai</h1>
<p>
There will be a bring and braai on the Friday night starting at 18:00. A selection of sides
will be provided, however we request that you bring your own meat and drinks. You will
need to arrive before 18:00, as the venue's COVID-19 protocols require all guests are
screened before coming onto the property and the staff leave at 18:00. More information is
available on the <a href="{{ site_url }}#event">website</a>.
</p>

<h1>Accommodation</h1>
<p>
There is accommodation on site with a variety of room sizes available. The accommodation
has a communal fully-equipped kitchen, WiFi, a hot tub and has easy access to a beautiful
swimming dam. It is available for R240 per person for the weekend (Friday and Saturday
night) or R100 p/p for only Saturday night. If you wish to make use of the accommodation,
please indicate such on your RSVP. More information and banking details are available on
the <a href="{{ site_url }}#venue">website</a>.
</p>

<h1>Live Streaming</h1>
<p>
For all of those who will unfortunately not be able to join us on our wedding day, we
have arranged to live-stream the most important parts. It will be made available on the
website closer to the time. Please see <a href="{{ site_url }}#other-stuff">here</a> for
more details.
</p>

<h1>COVID-19</h1>
<p>
Unfortunately Corona Virus is still very much a harsh reality around
the world. We are bound by South African regulations, Thus are
following all guidelines instituted by De Uljlenes, in an effort to
protect all attending.
</p>
<p>
<b>As such please take note of the following rules:</b>
<ul>
  <li>You will be required to wear a mask at all times</li>
  <li>Sanitizer will be made available throughout the venue and
    accommodation for your frequent use</li>
  <li>You will be required to screen at reception when you arrive at
    the venue. <b>Note: the screening operates until 18:00.</b>
    Thus, please allow for this if you are joining us for the
    braai on Friday evening, as you will not be able to arrive after
    18:00.</li>
  <li>If you present with any <a href="https://www.who.int/health-topics/coronavirus#tab=tab_3" target="_blank">symptoms of
      COVID-19</a> or have been in contact with a positive case in
    the last 14 days, please self-isolate. You are welcome to join
    us on our special day via livestream.</li>
</ul>
</p>
{% endblock %}
{% block footer_content %}
Please <a href="{% if email_mode %}{{ site_url }}{% endif %}{% url 'invitation' invitation_id %}">view the invitation online</a> to rsvp.<br>
{% if email_mode %}
{% if email_mode %}
<p>Email not displaying correctly? Click
<a href="{% if email_mode %}{{ site_url }}{% endif %}{% url 'invitation-email' invitation_id %}">here</a> to view it
online</p>
<p><a href="{{ site_url }}">{{ site_url }}</a></p>
{% endif %}
{% endif %}
{% endblock %}
