{% extends 'guests/email_templates/email_base.html' %}
{% load static %}
{% block lead_copy %}
{% if email_mode %}
<tr>
  <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 20px; font-family: Helvetica, Arial, sans-serif; color: {{ font_color }};"
      class="padding-copy"
      align="left">
    Dear {{ party_names }},<br>
  </td>
</tr>
{% endif %}
{% endblock %}
{% block main_copy %}
<h1>Livestream</h1>
<p>
The wedding ceremony will be streamed live on YouTube at 19:00 South African time
(UTC+2) on 10 April 2021! The link is
<a href="{{ livestream_link }}">{{ livestream_link }}</a>. You can also find it on
the <a href="{{ site_url }}#livestream">website</a>.
</p>
<p>
Love
</p>
<p>
{{ couple }}
</p>

{% endblock %}
{% block footer_content %}
{% if email_mode %}
<p>Email not displaying correctly? Click
<a href="{% if email_mode %}{{ site_url }}{% endif %}{% url 'update-email-2' %}">here</a> to view it
online</p>
<p><a href="{{ site_url }}">{{ site_url }}</a></p>
{% endif %}
{% endblock %}
