{% extends 'guests/email_templates/email_base.html' %}
{% load static %}
{% block lead_copy %}
{% if email_mode %}
<tr>
  <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 20px; font-family: Helvetica, Arial, sans-serif; color: {{ font_color }};"
      class="padding-copy"
      align="left">
    Dear {{ party_names }},<br>
  </td>
</tr>
{% endif %}
<h1>Thank you!</h1>
{% endblock %}
{% block main_image %}
{% with "thank-you/images/"|add:main_image as main_static_url %}
<img src="{% if email_mode %}cid:{{ main_image }}{% else %}{% static main_static_url %}{% endif %}"
     alt="Thank you for being there"
     style="display: block; padding: 0; color: #666666;"
     class="img-max" border="0"
                     height="512" width="512">
{% endwith %}
{% endblock %}
{% block main_copy %}
<p>
</p>
<p>
Thank you so much for being a part of our wedding weekend. It was amazing to be
able to spend our special day with you.
</p>
{% if personal_message %}
<p>
{{ personal_message }}
</p>
{% endif %}
<p>
If you have any pictures or videos from the weekend, we would love if you would
share them with us. You can upload them to our
<a href="{{ share_link }}">Cloud Drive</a>.
</p>
<p>
Love,
</p>
<p>
{{ couple }}
</p>
{% endblock %}
{% block footer_content %}
{% if email_mode %}
<p>Email not displaying correctly? Click
<a href="{% if email_mode %}{{ site_url }}{% endif %}{% url 'thank-you-email' thank_you_id %}">here</a> to view it
online</p>
<p><a href="{{ site_url }}">{{ site_url }}</a></p>
{% endif %}
{% endblock %}
