{% load static %}
<section id="event" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <h2 class="section-heading text-center">Friday Night Welcome</h2>
        <hr class="primary">
        <dl class="dl-horizontal lead">
          <dt>What</dt>
          <dd>
            Come join us for a bring and braai at De Uijlenes' accommodation!
          </dd>
          <dt>When</dt>
          <dd>Friday, 9 April at 18:00</dd>
          <dt>Where</dt>
          <dd>
            <address>
              Nonnetjie Uijlhuis<br>
              <a href="https://goo.gl/maps/iLqNCuJQpAR2">De Uijlenes,
                Grootbos Road, Gansbaai</a><br>
              Phone: +27 28 388 0551
            </address>

          </dd>
          <dt>Attire</dt>
          <dd>Casual</dd>
          <dt>Transportation</dt>
          <dd>Transportation is not provided. Please plan accordingly.</dd>
          <dt>Parking</dt>
          <dd>Parking is available on the property, follow the signs.</dd>
          <dt>Food</dt>
          <dd>
            A selection of sides will be provided for the braai (the
            cost of which is covered in your accommodation cost for
            the weekend). However, we request that you bring any meat
            and drinks that you would like for the evening yourself.
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>
<section id="saturday-event" class="bg-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <h2 class="section-heading text-center">Saturday Ceremony and Reception</h2>
        <hr class="primary">
        <dl class="dl-horizontal lead">
          <dt>What</dt>
          <dd>Celebrate our marriage</dd>
          <dt>When</dt>
          <dd>Saturday, 10 April, at 14:30</dd>
          <dt>Where</dt>
          <dd>
            <address>
              <address>
                De Uijlenes<br>
                <a href="https://goo.gl/maps/iLqNCuJQpAR2">De Uijlenes,
                  Grootbos Road, Gansbaai</a><br>
                Phone: +27 28 388 0551
          </dd>
          <dt>Attire</dt>
          <dd>Semi-formal. Be warned: it is outside, there is grass, and your
            stilettos may sink deep into it.
          </dd>
          <dt>Parking</dt>
          <dd>Parking is available on the property, follow the signs.</dd>
          <dt>Children</dt>
          <dd>
            Children are welcome! There will be a seperate room at the
            reception which children will be free to use with a
            dedicated child minder. Each child will also receive a
            little activity pack (specially made by Jess's mom).
            Please contact us on <a href="mailto:{{ support_email }}">email</a>
            for further information and details.
            <dt>Other info</dt>
            <dd>
              Some wine, a glass of champagne and water will be
              available for all guests but if you would like anything
              else during the night a cash bar will be available at the
              reception. It is cash only, however you are able to "draw
              cash" through the card machine on site (similar to
              receiving cash back at a store). See the De Uijlenes's
              <a href="{% static 'bigday/bar-list.pdf' %}" target="_blank">current bar list</a>
              with relevant prices (which are subject to change).
            </dd>
        </dl>
      </div>
    </div>
  </div>
</section>
