{% load static %}
<div class="container">
  <h2 class="section-heading text-center">Gifts</h2>
  <hr class="primary">
  <p>
  Kyle and Jess are immensely blessed with each other and our wonderful
  family and friends. However, should you wish to give us a gift we would
  greatly appreciate a contribution towards our honeymoon and larger furniture
  items for our new home. If you would like to make a contribution, you can put
  money in the following bank account (all amounts will remain anonymous). Please
  let us know if you have something in mind that you would like us to use the
  money for.
  </p>
  <p>
  Account Number: 1556622811
  </p>
  <p>
  Account Holder: Mrs. T.A. Robbertze 
  </p>
  <p>
  Branch Code: 470010
  </p>
  <p>
  Bank: Capitec
  </p>
  <p>
  Reference: Wedding present
  </p>
  <p>
  Alternatively here is the
  <a href="https://www.mrphome.com/en_za/giftregistry/view/index/id/HOL000027/eid/31762/" target="_blank">link to our Mr Price Home registry</a>
  with some more specific items we would really appreciate to help us
  make our Hout Bay flat our home. Our gift registry ID/code is
  HOL000027. We will be updating it regularly as items become in-stock.
  </p>
</div>
