<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Ceremony Livestream</h2>
            <p class="text-center">
            The wedding ceremony will be live streamed on 10 April 2021 at 19:00
            (UTC+2).
            <p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="{{ livestream_embed }}" title="Kyle and Jess Wedding Ceremony" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
