{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-envelope-open-text"></i></div>
            <br>
            <h3 class="section-heading text-center">Paperless</h3>
            <hr class="light">
            <p>
                This is a paperless wedding.
                That means all of our save the dates, invitations, and thank-you notes are being delivered digitally.
                These small choices have helped us to enjoy a more eco-friendly wedding and save the trees.
                Thank you for your support and understanding!

            </p>
            <p><small>(In order to make up for the lack of paper invitations, Kyle spent more time than he’d
              care to admit making this website.)</small></p>

            <br>
            <div class="text-center"><i class="fa fa-4x fa-video"></i></div>
            <br>
            <h3 class="section-heading text-center">Live Streaming</h3>
            <hr class="light">
            <p>
              For all of those who will unfortunately not be able to join us on
              our wedding day, we have arranged to live-stream the most important
              parts. We know it won't be the same, but we would love you to join
              us in celebration, via the link that will be made available here
              closer to the time. More details on the livestream to follow, so
              watch this space.
            </p>
        </div>
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-virus"></i></div>
            <br>
            <h3 class="section-heading text-center">COVID-19</h3>
            <hr class="light">
            <p>
            Unfortunately Corona Virus is still very much a harsh reality around
            the world. We are bound by South African regulations. Thus are
            following all guidelines instituted by De Uljlenes, in an effort to
            protect all attending.
            </p>
            <p>
            <b>As such please take note of the following rules:</b>
            <ul>
              <li>You will be required to wear a mask at all times</li>
              <li>Sanitizer will be made available throughout the venue and
                accommodation for your frequent use</li>
              <li>You will be required to screen at reception when you arrive at
                the venue. <b>Note: the screening operates until 21:00.</b> If you
                arrive after that please contact us so that we can check you in.</li>
              <li>If you present with any <a href="https://www.who.int/health-topics/coronavirus#tab=tab_3" target="_blank">symptops of
                  COVID-19</a> or have been in contact with a positive case in
                the last 14 days, please self-isolate. You are welcome to join
                us on our special day via livestream.</li>
            </ul>
            </p>
            <p>
            For full details, see De Uijlenes's policy document
            <a href="{% static 'bigday/covid-policy.pdf' %}" target="_blank">here</a>.
            Please <a href="mailto:{{ support_email }}">let us know</a> if you
            have any questions or concerns.
        </div>
    </div>
</div>
