<header id="second-header" class="secondary"></header>
<h5 class="text-center text-muted">The moment Kyle proposed, captured from the bushes.</h5>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary">
            <p>
            Kyle proposed on Rhodes Memorial after a picnic at its foot. Jessica suspected nothing
            and almost left Kyle to propose to thin air because she was comfortable on the picnic
            blanket! After some awkward standing about, Jessica relented and agreed to go up to
            'see the view' with Kyle, where he popped the question. The inevitable photo shoot
            ensued with a tasty home-cooked dinner following hot on its heels.
            </p>
        </div>
    </div>
</section>
