<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
            Kyle and Jessica met while studying at the University of Cape Town. Kyle was
            taken with Jessica's wit, charm and baking skills, while Jess was taken by
            Kyle's compassion, quirky sense of humour and, of course, his dogs. It
            was a match made in heaven, dog hair and delicious baked goods.
            </p>
        </div>
    </div>
</div>
