<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">De Uijlenes</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p><a href="https://deuijlenes.co.za/">De Uijlenes</a> is located about 20 minutes
            inland from Gansbaai on the east coast of the Western Cape.</p>
            <p>
            From Cape Town International Airport it is about 2.5 hours (160km). Google Maps
            directs you over several kilometers of dirt road. If you are fine with this, follow
            Maps, otherwise read on:
            </p>
            <ul>
              <li>
                Take the N2 to Somerset West. Continue with the N2, climb and descend Sir Lowry’s
                Pass, drive past Grabouw and Elgin. Climb and descend the Houwhoek Pass – part of
                the N2.
              </li>
              <li>
                At Botrivier, leave the N2 and take the turn off to Hermanus (R43). Drive
                through Hermanus to Stanford and Gansbaai, there is ongoing roadworks between De
                Uijlenes and Hermanus at the moment so take note when planning your driving time.
                Pass Stanford and continue with the R43 to Gansbaai. Drive through Gansbaai and
                continue with R43.
              </li>
              <li>
                7kms after Gansbaai turn left to Elim/Baardskeerdersbos. Continue with the Elim
                road for 7kms, you will get a turn off to the left with a De Uijlenes sign. Take
                the left turn (gravel road) for about 500m and you will see it on the right hand
                side at the first bend.
              </li>
            </ul>
            <hr class="primary">
            <h3>Accommodation</h3>
            <p>
            There is accommodation on site with a variety of room sizes
            available. The accommodation has  a communal fully-equipped kitchen,
            WiFi, a hot tub and has easy access to a beautiful swimming dam.
            Have a look at the <a href="https://deuijlenes.co.za/accommodation/" target="_blank">De Uijlenes website</a>
            (under Nonnetjie Uijlhuis and Old Barn Venue Accommodation) for more
            details and pictures of the accommodation.
            </p>
            <p>
            The on-site accommodation is available for R240* per person for the
            weekend (Friday and Saturday night) or R100** p/p for only Saturday
            night.
            </p>
            <p>
            *The accommodation cost for the weekend includes a selection of
            sides to accompany the bring and braai on Friday evening and a
            contribution to some cereals, etc for Saturday and Sunday breakfast.
            </p>
            <p>
            **The accommodation cost includes a contribution to some cereals,
            etc for Sunday breakfast.
            </p>
            <p>
            You can let us know should you require accommodation on the RSVP
            form. <b>Note:</b> There are a variety of room size options
            available and we will allocate rooms according to parties (ie: we
            will place you in the same or adjacent rooms as those listed with
            you on your invitations, as far as possible).
            </p>
            <p>
            Please contact us via <a href="mailto:accommodation@kyleandjess.co.za">email</a>
            should you have any specific requests/requirements for accommodation
            or in relation to our allocation procedure mentioned above.
            </p>
            <p>
            Once you have requested accommodation on the RSVP form we will send
            you an invoice with banking details and more information.
            </p>
            <hr class="primary">
            <h3>Food</h3>
            <p>
            The accommodation includes a communal fully-equipped kitchen, thus
            you will have access to a fridge/freezer, stove, kettle, microwave,
            toaster and anything else you should need for all non-catered meals.
            </p>
            <h4>Friday's Bring and Braai</h4>
            <p>
            A selection of sides will be provided for the braai (the cost of
            which is covered in your accommodation cost for the weekend).
            However, we request that you bring any meat and drinks that you
            would like for the evening yourself.
            </p>
            <h4>Saturday & Sunday Breakfast</h4>
            <p>
            We will provide a few basic cereal options, some milk, sugar, tea
            and coffee in the accommodations' kitchens. These will be provided
            on a first come first serve basis so please bring anything more you
            may want for breakfast.
            </p>
            <h4>Saturday's Meals</h4>
            <p>
            Some snacks will be provided after the ceremony on Saturday as well
            as dinner at the reception in the evening. But if you would like
            anything for lunch or snacks during the day, please bring this
            yourself.
            </p>
        </div>
    </div>
</div>
